@media all and (min-width:501px){
    div.wrapper form{
        margin-left: 30px;

    }
}

.dateFeedback{
    font-style:italic;
    font-size:70%;
    font-weight:bold;
    color:#f00;
}
input:required {
        border: 1px solid red;
}

    input:optional, textarea:optional {
        background-color:#f1f1f1;
        border:1px solid #ccc;
}

input[type="submit"], input[type="button"] {
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 0.3em 0.5em;
}

fieldset {
    border: 1px solid #ccc;
    max-width: 350px;
}

legend {
    margin-left: 0.5em;
    padding: 0.2em 0.5em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


label {
    margin: 0;
    display: block;
    font-weight: bold;
}

input[type=text], input[type=email], select {
    width: 70%;
    padding: 5px 0px;
    margin: 10px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

li, input[type=radio], input[type=checkbox] {
    padding: 5px 0px;
    margin-left: 10px;


}

input[type=submit] {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea {
    width: 70%;
    padding: 20px 0px;
    margin: 10px 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label, li {
    list-style-type: none;
    margin-left: 20px;
}

placeholder {
    color: lightgray;
}

